* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

.ms--bg-blue {
    background-color: #2c3e50;
    color: white;
}

.ms--bg-green {
    background-color: #1abc9c;
    color: white;
}

.ms--bg-white {
    color: #2c3e50;
}

.ms--bt {
    background-color: #1abc9c;
    color: white;
    border-radius: 8px;
}

.ms--section-name {
    font-size: 39px;
    font-weight: bold;
}

section {
    padding: 92px 0;
    text-align: center;
}

a,button {
    font-weight: bold;
}

/* HEADER */

header {
    padding: 15px 60px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

header .row > div {
    display: inline-block;
}

.ms--stboot {
    padding-top: 9px;
}

.ms--stboot a {
    font-size: 19px;
    color: white;
    text-decoration: none;
}

.bt-menu button {
    padding: 12px 15px;
    border: #1abc9c;
}

nav {
    display: inline-block;
}

/* JUMBOTRON */

.jumbo {
    padding-top: 166px;
    text-align: center;
}

.jumbo img {
    max-width: 250px;
    padding-bottom: 20px;
}

.jumbo h1 {
    font-size: 44px;
    font-weight: bold;
}

.jumbo h4 {
    font-size: 20px;
}

.ms--star::after,.ms--star::before {
    content: "";
    display: inline-block;
    width: 110px;
    height: 4px;
    background-color: white;
    margin: 0 10px;
    border-radius: 10px;
    position: relative;
    bottom: 15px;
}

.ms--star {
    padding: 15px 0;
}

.ms--star span {
    font-size: 35px;
    padding-left: 2px;
}

/* ms--portfolio */

.ms--portfolio .ms--star::after,.ms--portfolio .ms--star::before,.ms--contactme .ms--star::after,.ms--contactme .ms--star::before {
    background-color: #2c3e50;
}

.ms--pf-image {
    padding: 15px 15px;
}

.ms--pf-image img {
    max-width: 100%;
    border-radius: 7px;
}

/* ms--about */
.ms--about p {
    font-size: 19px;
    padding-left: 0;
}

.ms--about p:first-of-type {
    padding: 6px 0;
}

.ms--ab-test {
    padding-top: 5px;
    padding-bottom: 31px;
}

.ms--ab-download button {
    padding: 18px 30px;
    font-size: 20px;
    font-weight: normal;
    border: 2px solid white;
}

/* ms--contactme */

.ms--form input,.ms--form textarea {
    display: block;
    border: none;
    color: #6c757d;
    width: 100%;
    border-bottom:1px solid #e9ecef;
    padding-bottom: 30px;
    padding-top: 35px;
    font-size: 25px;
}

#ms--bt-send {
    margin-top: 30px;
    width: 21%;
    padding: 20px 20px;
    color: white;
    font-size: 19px;
}

/* footer */
footer {
    padding-top: 33px;
    padding-bottom:70px;
    text-align: center;
}

footer h4{
    font-weight: bold;
    font-size: 25px;
    padding-top: 40px;
    padding-bottom: 20px;
}

footer p {
    font-size: 20px;
}

footer a {
    color: #1abc9c;
    font-weight: normal;
}

.ms--logo {
    display: inline-block;
    border: 2px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.fas,.fab {
    position: relative;
    top: 13px;
    font-size: 20px;
    color: white;
}

.ms--location .fab {
    border: 2px;
    color: white;
}

.ms--bg-black {
    background-color: #1a252f;
    color: white;
    font-size: 13px;
    padding: 25px 0;
}

.ms--bg-black p {
    margin: 0;
}

@media all and (min-width: 992px) {
    .ms--about p:first-of-type {
        padding:0;
        padding-right: 40px;
    }
