* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

.ms--bg-blue {
    background-color: #2c3e50;
    color: white;
}

.ms--bg-green {
    background-color: #1abc9c;
    color: white;
}

.ms--bg-white {
    color: #2c3e50;
}

.ms--bt {
    background-color: #1abc9c;
    color: white;
    border-radius: 8px;
}

.ms--section-name {
    font-size: 39px;
    font-weight: bold;
}

section {
    padding: 92px 0;
    text-align: center;
}

a,button {
    font-weight: bold;
}

/* HEADER */

header {
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    width: 100%;
    z-index: 999;
}

header .row > div {
    display: inline-block;
}

.ms--stboot {
    padding-top: 9px;
}

.ms--stboot a {
    font-size: 19px;
    color: white;
    text-decoration: none;
}

.bt-menu button {
    padding: 12px 15px;
    border: #1abc9c;
}

nav {
    line-height: 2;
}

ul {
    margin-bottom: 0;
}

nav ul a {
    padding: 15px;
    color: white;
}

nav ul a:hover {
    color: #1abc9c;
    text-decoration: none;
}

nav ul a:focus {
    background-color: #1abc9c;
    padding: 15px 10px;
    border-radius: 5px;
    color: white;
}

a:active, a:focus,a:hover{
    outline: none;
    text-decoration:none;
}

/* JUMBOTRON */

.jumbo {
    padding-top: 166px;
    text-align: center;
}

.jumbo img {
    max-width: 250px;
    padding-bottom: 20px;
}

.jumbo h1 {
    font-size: 44px;
    font-weight: bold;
}

.jumbo h4 {
    font-size: 20px;
}

.ms--star::after,.ms--star::before {
    content: "";
    display: inline-block;
    width: 110px;
    height: 4px;
    background-color: white;
    margin: 0 10px;
    border-radius: 10px;
    position: relative;
    bottom: 15px;
}

.ms--star {
    padding: 15px 0;
}

.ms--star span {
    font-size: 35px;
    padding-left: 2px;
}

/* ms--portfolio */

.ms--portfolio .ms--star::after,.ms--portfolio .ms--star::before,.ms--contactme .ms--star::after,.ms--contactme .ms--star::before {
    background-color: #2c3e50;
}

.ms--pf-image {
    padding: 15px 15px;
    line-height: 0;
}

.ms--pf-image img {
    max-width: 100%;
    border-radius: 7px;
}

.ms--overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    border-radius: 7px;
}

.ms--img-overlay {
  background-color: #1abc9c;
  opacity: 0;
}

.ms--pf-image:hover .ms--img-overlay {
    opacity: 0.8;
}

.ms--plus {
    font-size: 70px;
    color: white;
    opacity: 1;
}

.ms--plus span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.ms--pf-image:hover .ms--plus span{
    opacity: 1
}

/* ms--about */
.ms--about p {
    font-size: 19px;
    padding-left: 0;
}

.ms--ab-test {
    padding-top: 5px;
    padding-bottom: 31px;
}

.ms--ab-download button {
    padding: 18px 30px;
    font-size: 20px;
    font-weight: normal;
    border: 2px solid white;
}

.ms--ab-download button:hover {
    color: black;
    background-color: white;
}

/* ms--contactme */

.ms--form input,.ms--form textarea {
    display: block;
    border: none;
    color: #6c757d;
    width: 100%;
    border-bottom:1px solid #e9ecef;
    padding-bottom: 30px;
    padding-top: 35px;
    font-size: 25px;
}

#ms--bt-send {
    margin-top: 30px;
    max-width: 90px;
    padding: 20px 20px;
    color: white;
    font-size: 19px;
}

#ms--bt-send:hover {
    background-color:#159a80;
    border-color:#148f77;
}

/* footer */
footer {
    padding-top: 33px;
    padding-bottom:70px;
    text-align: center;
}

footer h4{
    font-weight: bold;
    font-size: 25px;
    padding-top: 40px;
    padding-bottom: 20px;
}

footer p {
    font-size: 20px;
}

footer a {
    color: #1abc9c;
    font-weight: normal;
}

.ms--logo {
    display: inline-block;
    border: 2px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.ms--logo:hover,.ms--logo:hover .fas,.ms--logo:hover .fab.fa-twitter,.ms--logo:hover .fab.fa-facebook-f,.ms--logo:hover .fab.fa-linkedin-in {
    background-color: white;
    color: black;
}

.fas,.fab {
    position: relative;
    top: 13px;
    font-size: 20px;
    color: white;
}

.ms--location .fab {
    border: 2px;
    color: white;
}

.ms--bg-black {
    background-color: #1a252f;
    color: white;
    font-size: 13px;
    padding: 25px 0;
    position: relative;
}

.ms--bg-black p {
    text-align: center;
    margin: 0;
}

.ms-chevron-up {
    border: none;
    padding: 15px 18px;
    opacity: 0.6;
    display: inline-block;
    border-radius: 5px;
    color: white;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    outline: none;
    background-color: #1a252f;
    cursor: pointer;
}

@media all and (min-width: 992px) {
    .ms--about p:first-of-type {
        padding:0;
        padding-right: 40px;
    }

    .ms--ab-download {
        padding-top: 40px;
    }

    .ms--stboot{
        padding-top: 0;
    }

    .ms--stboot a {
        font-size: 22px;
    }

    header {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .jumbo h1 {
        font-size: 60px;
    }

    .jumbo h4 {
        font-size: 30px;
    }
