* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }

.ms--bg-blue {
    background-color: #2c3e50;
    color: white;
}

.ms--bg-green {
    background-color: #1abc9c;
    color: white;
}

.ms--bg-white {
    color: #2c3e50;
}

.ms--bt {
    background-color: #1abc9c;
    color: white;
    border-radius: 8px;
}

.ms--section-name {
    font-size: 39px;
    font-weight: bold;
}

section {
    padding: 92px 0;
    text-align: center;
}

a,button {
    font-weight: bold;
}

/* HEADER */

header {
    padding: 15px 60px;
}

.row > div {
    display: inline-block;
}

.logo {
    padding-top: 9px;
}
.logo a {
    font-size: 19px;
    color: white;
    text-decoration: none;
}

.bt-menu button {
    padding: 12px 15px;
    border: #1abc9c;
}

/* JUMBOTRON */

.jumbo img {
    max-width: 250px;
    padding-bottom: 20px;
}

.jumbo h1 {
    font-size: 44px;
    font-weight: bold;
}

.jumbo h4 {
    font-size: 20px;
}

.ms--star::after,.ms--star::before {
    content: "";
    display: inline-block;
    width: 110px;
    height: 4px;
    background-color: white;
    margin: 0 10px;
    border-radius: 10px;
    position: relative;
    bottom: 15px;
}

.ms--star {
    padding: 15px 0;
}

.ms--star span {
    font-size: 35px;
    padding-left: 2px;
}

/* ms--portfolio */

.ms--portfolio .ms--star::after,.ms--portfolio .ms--star::before {
    background-color: #2c3e50;
}

.ms--pf-image {
    padding: 15px 0;
}

.ms--pf-image img {
    max-width: 100%;
    border-radius: 7px;
}

/* ms--about */
.ms--about p {
    font-size: 20px;
}

.ms--about p:first-of-type {
    padding: 6px 0;
}

.ms--ab-test {
    padding-top: 5px;
    padding-bottom: 25px;
}

.ms--ab-download button {
    padding: 20px 30px;
    font-size: 20px;
    font-weight: normal;
    border-color: white;


}
